@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 400;
    /* Replace with desired weight */
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;